# Go
/bin/
*.test
*.out

# Node / pnp
node_modules/
*.tsbuildinfo

**/.next/
out/
.turbo/

# Playwright (web/apps/e2e)
test-results/
playwright-report/
blob-report/

# Env
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/
